<div class="container">
    <h1>Burger Lover Club</h1>
    <div class="jumbotron">
        <br>
        <h2>Welcome to da club!</h2>
        <br>
        <p>We are a group of burger lovers who are excited to share our greatest recipes to the community. Join us and
            also contribute your idea to the menu by customizing your burgers.
            Let's enjoy together!
        </p>
    </div>
    {{!-- Future improvement --}}
    {{!-- <div class="col-6">
        <h2>Explore our menu!</h2>
        <select class="select2" id="list">
            <option selected>Select</option>
            {{#each burgers}}
            {{#unless devoured}}
            <option data-id='{{this.id}}' value="{{this.id}} . {{this.burger_name}}">{{this.id}} . {{this.burger_name}}
            </option>
            {{/unless}}
            {{/each}}
        </select>
        <button id="menu-btn">Order</button>
    </div> --}}

    <section class="input-group">
        <h3>Customize it yourself!</h3>

        <p>Pick your own ingredients and show off your burger art. Don't forget to give it a name and share the
            art with others by adding yours to the menu.
        </p>

        <form class="customized-form">
            <label for="customized">Enter the name of your customized burger:</label><br><br>
            <input type="text" id="customize" name="customize">
            <button type="submit" id="customize-btn">Customize</button>
            <div id="customized-finish-alert"></div>
            <div id="empty-input-alert"></div>
            </div>
        </form>
    </section>
    <hr>
    <div class="row">
        <section class="col-6">
            <div class="order">
                <h4>Ready to be devoured</h4>

                {{#each burgers}}
                {{#unless devoured}}
                <div>
                    {{this.burger_name}}
                    <button class='change-devoured' data-id='{{this.id}}' data-newDevoured='{{devour}}'>Devour</button>
                    <br>
                    <br>
                </div>
                {{/unless}}
                {{/each}}

            </div>
        </section>
        <section class="col-6">
            <div class="pickup">
                <h4>History of your devoured burgers.</h4>

                {{#each burgers}}
                {{#if devoured}}
                <div>
                    {{this.burger_name}}
                    <button class="delete-burger" data-id="{{this.id}}" data-newDevoured='{{devour}}'><i class="fa fa-trash"></i></button>
                    <br>
                    <br>
                </div>
                {{/if}}
                {{/each}}

            </div>
        </section>

    </div>
</div>